/*CSS KOODI ETUSIVULLE; LAATU ON PASKAA*/
body {
     background-image: url("../img/reino.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
  }
h1.karvamuna {
    font-size: 2em;
    text-align: center;
    font-family: 'Georgia', serif;
    position: relative;
    color: black;
        filter: invert(1);
    mix-blend-mode: difference;

}
p.copyright {
    position: fixed;     
    text-align: center;    
    bottom: 0px; 
    width: 100%;
    filter: invert(1);
    mix-blend-mode: difference;
}
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.popup {
    background-image: url(../img/discord.png);
    background-position: center;
    background-size: cover;
    width: 450px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50% -50%);
    right: 5%;
    bottom: 5%;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    display: none;
}
.popup button{
    display: block;
    margin: 0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: aliceblue;
    border: none;
    cursor: pointer;
}
.popup p{
    font-size: 14px;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.52);
    margin: 20px 0;
}
.popup h1{
    background-color: rgba(255, 255, 255, 0.52) ;
}
.popup a{
    color: black;
    background-color: aliceblue;
}

a:hover, a:focus {
	color: #296dff;
}
a.link {
    position: absolute;
    text-align: left;
    top: 5%;
    left: 25%;
    font-size: 1.5em;
    color: white;
}
a.link0 {
    position: absolute;
    text-align: right;
    right: 25%;
    top: 5%;
    font-size: 1.5em;
    color: rgb(0, 0, 0);


}
p.yleistieto {
    font-family:'Times New Roman', Times, serif;
    font-size: 1.5em;
    filter:drop-shadow();
    mix-blend-mode: none;
    color: black;
    position: absolute;
    left: 5%;
    top: 15%;
    background-color: #fff;


}
.sivun-linkki {
    background-color: #FF0000;
    animation: bgColor 5s infinite linear;
}
@keyframes bgColor {
    12.5% {
      background-color: #FF0000;
    }
    25% {
      background-color: #FFA500;
    }
    37.5% {
      background-color: #FFFF00;
    }
    50% {
      background-color: #7FFF00;
    }
    62.5% {
      background-color: #00FFFF;
    }
    75% {
      background-color: #0000FF;
    }
    87.5% {
      background-color: #9932CC;
    }
    100% {
      background-color: #FF1493;
    }
}
img {
    position: absolute;
    right: 12.5%;
    top: 15%;
    max-width: 400px;
    height: 400px;
    

}

.wrapper-main {
    position: absolute;
    bottom: 20%;
    left: 4%;
}
h2 {
    filter: invert(1);
    mix-blend-mode: difference;
    position: absolute;
    left: 5%;
    top: 10%;
}
/*TEKSTIN JA KUVAN COLUMNI ETUSIVULLA*/
/*.column {
    float: left;
    width: 50%;
}
.row::after {
    content: "";
    display: table;
    clear: both;
} 
.etusivun-kuva {
    position: absolute;
    right: 15%;
}
.wrapper-main {
    position: absolute;
    bottom: 20%;
    left: 4%;
}
*/

/*PUHELIN NÄKYMÄN ASETUKSET*/
  @media screen and (max-width: 800px)
  {

    h1 {
        font-size: 1em;
        text-align: center;
        font-family: 'Georgia', serif;
        position: relative;
        color: black;
        filter: none;
        mix-blend-mode: darken;
    }
      a.link {
        position:absolute;
        text-align: left;
        top: 2%;
        left: 10%;
        font-size: 1em;
        color: white;
    }
    a.link0 {
        position:absolute;
        text-align: right;
        right: 10%;
        top: 2%;
        font-size: 1em;
        color: black;
    }
    p.yleistieto {
        font-family:'Times New Roman', Times, serif;
        font-size: 1em;
        filter: none;
        mix-blend-mode: darken;
        background-color: white;
    }
    /*.column {
        float: left;
        width: 50%;
    }
    .row::after {
        content: "";
        display: table;
        clear: both;
    } */

    /*.wrapper-main {
        position: absolute;
        bottom: 5%; */
    
    .popup {
        background-image: url(../img/discord.png);
        background-position: center;
        background-size:contain;
        width: 250px;
        padding: 20px 30px;
        position: absolute;
        transform: translate(-50% -50%);
        right: 5%;
        bottom: 5%;
        border-radius: 8px;
        font-family: "Poppins", sans-serif;
        display: none; }
    } 
    
    img {
        border-radius: 5px;
        width: 200px;
    }
  
