/*CSS KOODI ETUSIVULLE; LAATU ON PASKAA*/
body {
     background-image: url("https://wallpapercave.com/wp/m0sag04.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
  }
h1 {
    font-size: 2em;
    text-align: center;
    font-family: 'Georgia', serif;
    position: relative;
    color: black;
        filter: invert(1);
    mix-blend-mode: difference;

}
p.copyright {
    position: fixed;     
    text-align: center;    
    bottom: 0px; 
    width: 100%;
    filter: invert(1);
    mix-blend-mode: difference;
}
.header-main {
    height: 60px;
    width: 100%;
    color: #000 ;
}


a:hover, a:focus {
	color: #296dff;
}
a.link {
    position: absolute;
    text-align: left;
    top: 5%;
    left: 25%;
    font-size: 1.5em;
    color: white;
}
a.link0 {
    position: absolute;
    text-align: right;
    right: 25%;
    top: 5%;
    font-size: 1.5em;
    color: rgb(0, 0, 0);


}
p.yleistieto {
    font-family:'Times New Roman', Times, serif;
    font-size: 1.5em;
    filter:drop-shadow();
    mix-blend-mode: none;
    color: black;
    background-color: white; 
    border-radius: 1%;
    outline-style: inset;


}
h2 {
    filter: invert(1);
    mix-blend-mode: difference;
}
/*TEKSTIN JA KUVAN COLUMNI ETUSIVULLA*/
.column {
    float: left;
    width: 50%;
}
.row::after {
    content: "";
    display: table;
    clear: both;
} 
.etusivun-kuva {
    position: absolute;
    right: 15%;
}
.wrapper-main {
    position: absolute;
    bottom: 20%;
    left: 4%;
}


/*PUHELIN NÄKYMÄN ASETUKSET*/
  @media screen and (max-width: 800px)
  {
    h1 {
        font-size: 1em;
        text-align: center;
        font-family: 'Georgia', serif;
        position: relative;
        color: black;
        filter: none;
        mix-blend-mode: darken;
    }
      a.link {
        position:absolute;
        text-align: left;
        top: 2%;
        left: 10%;
        font-size: 1em;
        color: white;
    }
    a.link0 {
        position:absolute;
        text-align: right;
        right: 10%;
        top: 2%;
        font-size: 1em;
        color: black;
    }
    p.yleistieto {
        font-family:'Times New Roman', Times, serif;
        font-size: 1em;
        filter: none;
        mix-blend-mode: darken;
        background-color: white;
    }
    .column {
        float: left;
        width: 50%;
    }
    .row::after {
        content: "";
        display: table;
        clear: both;
    } 
    .etusivun-kuva {
        position: absolute;
        right: 15%;
        bottom:30%
    }
    .wrapper-main {
        position: absolute;
        bottom: 5%;
    }
  }
