body {
    background-image: url("https://wallpapercave.com/wp/m0sag04.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
h1 {
    font-size: 2em;
    text-align: center;
    font-family: 'Georgia', serif;
    position: relative;
    filter: invert(1);
    mix-blend-mode: difference;

}
p.copyright {
    position: fixed;     
    text-align: center;    
    bottom: 0px; 
    width: 100%;
    filter: invert(1);
    mix-blend-mode: difference;
}



a:hover, a:focus {
	color: #296dff;
}
a.link {
    position: fixed;
    text-align: left;
    top: 5%;
    left: 25%;
    font-size: 1.5em;
    color: white;
}
a.link0 {
    position: fixed;
    text-align: right;
    right: 25%;
    top: 5%;
    font-size: 1.5em;
    color: black;


}
p.yleistieto {
    font-family:'Times New Roman', Times, serif;
    font-size: 1.5em;
    filter: invert(1);
    mix-blend-mode: difference;

}
h2 {
    filter: invert(1);
    mix-blend-mode: difference;
}

  