body {
    background-color: aquamarine;
}
.otsikko {
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif
}
li {
    text-align: center;
    font-size: 1.5em;
}

nav {
    background-color:gray;
}

a {
    color: black;
    text-decoration: underline;
}
