/*VASEMMAN PUOLEN KUVA*/
.left {
    position: fixed;
    background-image: url(../Jamascript/kuva.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
}
/*OIKEAN PUOLEN KUVA*/
.right {
    position: fixed;
    background-image: url(../Jamascript/tausta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
/*RAKETTI*/
}
.rocket {
    position: absolute;
    left: 50%;
    bottom: 2em;
    width: 143px;
    height: 272px;
    margin-left: -71.5px;
    background: url(../Jamascript/jama.png) no-repeat 0 0;
    transition: bottom 10000ms;
}
/*taustakuva*/
body.body-stat2 .rocket {
    background-image: url("");
}
/*STATET*/
/*character*/
body.body-state3 .rocket,
body.body-state4 .rocket{
    background-image: url(../Jamascript/jama1.png);
}
/*räjähdys*/
body.body-state5 .rocket {
    background-image: url(../Jamascript/Nimetön.png);
    width: 209px;
    height: 100px;
    margin-left: -104.5px;
}

body.body-state1 .rocket {
    transition: none;
}


body.body-state3 .rocket,
body.body-state4 .rocket {
    bottom: 2000px;
}

/*OIKEAN PUOLEN KUVAN MAA*/
.ground {
    background-image: url(../Jamascript/maa.png);
    background-repeat: no-repeat;
    position: absolute;
    bottom: -15%;
    left: 0;
    width: 100%;
    height: 25em;
    background-position: center;

}

.state1,
.state2,
.state3,
.state4
,.state5 {
    display: none;
}
body.body-state1 .state1{display: block;}
body.body-state2 .state2{display: block;}
body.body-state3 .state3{display: block;}
body.body-state4 .state4{display: block;}   
body.body-state5 .state5{display: block;}


a{
display: "";
}

a.button {
    display: "";
}
a {
    background-color: gray;
}